/*
    Стили страницы
*/

body {
    background-color: black;
    color: white;
}

.mainTable {
    width: 800px;
    margin: auto;
    border-color: white;
}

.myInput {
    margin: auto;
    display: block;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 150px;
}

/*
    Стили таблицы
*/

table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
        background-color: #8dbdd8;
}

/*
    стили для модальных окон
*/

.b-popup{
    width:200px;
    height:200px;
    overflow:hidden;
    position:fixed;
    top: 30%;
    left: 43.5%;
    border-radius:5px;
   
}
.b-popup-content{
    height:100%;
    width: 100%;
    padding:10px;
    margin-left: -10px;
    background-color: rgba(100,100,100,0.7);
    box-shadow: 0px 0px 10px #000;
}

h2 {
    margin-left: 60px;
    margin-top: 5px;
    margin-bottom: 0;
}
